# Ignore common temporary files and folders
.idea.md
secrets.json
sources.txt
dataset_cache
utility/
prev/
.env
AI_agent_sample.py
test.py
fine_tune_BERT.ipynb
# Ignore virtual environment
.venv

# Ignore Python cache files and folders
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment variable files
.env
